<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.abxh.utils">

    <application>
        <activity
            android:name="com.abxh.utils.activity.SelectPhotoDialog"
            android:theme="@style/Dialog"/>
        <activity
            android:name="com.abxh.utils.activity.PrivacyPolicyActivity"
            />
        <activity
            android:name="com.abxh.utils.activity.WhitelistActivity"
            />
    </application>

</manifest>
